app = "found-haikus"
primary_region = "ewr"

[build]

[[vm]]
  memory = "1gb"
  cpu_kind = "shared"
  cpus = 2

[env]
  FEEDGEN_DB_PATH = "/data/haiku.db"

[mounts]
  source = "haiku_data"
  destination = "/data"

[[services]]
  internal_port = 8080
  protocol = "tcp"

  [[services.ports]]
    handlers = ["http"]
    port = 80
    force_https = true

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443

  [services.concurrency]
    type = "connections"
    hard_limit = 25
    soft_limit = 20

  [[services.http_checks]]
    interval = "30s"
    timeout = "5s"
    path = "/.well-known/did.json"
